@font-face {
	font-family: "Voor";
	src: url("voorreg-webfont.woff") format("woff"),
}

.navbar {
	padding-top: 1%;
	font-family: 'Voor', sans-serif;
}

.nav-item-padding {
	padding-top: 1%;
}

.wrap {
	margin-top: 2%;
	overflow: hidden;
    height: 300px;
    width:100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	object-position:0px 70%;
}

.wrap h2 {
	z-index: 1;
	position: relative;
	font-family: 'Voor', sans-serif;
	color: white;
	letter-spacing: 32px;
	font-size: 3em;
}
